---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import "../../styles/blog/blog-headings.css";
import "../../styles/blog/blog-table.css";
import "../../styles/blog/blog-details.css";
import "../../styles/blog/blog-list.css";
import "../../styles/blog/blog-callout.css";
import "../../styles/blog/blog-linkcard.css";
import "../../styles/blog/blog-misc.css";
import { SITE_TITLE } from "../../consts";
import { formatDate } from "../../functions/date";
import { getRandomId } from "../../functions/getRandomId";

type Props = CollectionEntry<"blog">["data"];

const { title, description, publishedDate } = Astro.props;

const id = getRandomId();
---

<Layout
  title={`${title} - ${SITE_TITLE}`}
  description={description}
  ogImage="ogp.png"
>
  <article aria-labelledby={id}>
    <div class="title">
      <div class="date">
        <time datetime={publishedDate.toISOString()}>
          {formatDate(publishedDate)}
        </time>
      </div>
      <h1 id={id}>{title}</h1>
      <p>{description}</p>
      <hr />
    </div>
    <div class="content">
      <slot />
    </div>
  </article>
</Layout>

<style>
  .title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .date {
    color: var(--color-muted);
    font-family: var(--font-code);
    font-size: var(--font-size-code);
  }

  .last-updated-on {
    font-style: italic;
    font-size: var(--font-size-code);
  }

  .title p {
    margin: 0;
  }

  .title hr {
    border: none;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent,
      var(--color-accent),
      transparent
    );
    width: 80%;
  }

  @container (width < 600px) {
    .title h1 {
      font-size: var(--text-2xl);
    }
  }

  @container (width < 600px) {
    .content {
      font-size: var(--text-normal);
    }
  }
</style>
