---
import { randomId } from "../../functions/randomId";

export interface Props {
  headingText: string;
  level?: number;
}

const { headingText, level = 2 } = Astro.props;
const id = `section-${randomId()}`;
const HeadingTag = `h${level}` as "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
---

<section class="wrap" aria-labelledby={id}>
  <HeadingTag class="heading" id={id}>
    {headingText}
  </HeadingTag>
  <slot />
</section>

<style>
  .wrap {
    animation: oddFadein 2.5s ease-out;
    display: grid;
    gap: 0.5rem;
  }

  h2.heading {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h3.heading {
    font-size: 1.25rem;
    font-weight: bold;
  }

  @keyframes oddFadein {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
