---
import { Image } from "astro:assets";
import githubLogo from "../../assets/logo/github-logo.svg";
import xLogo from "../../assets/logo/x-logo.svg";
import bskyLogo from "../../assets/logo/bsky-logo.svg";
import mastodonLogo from "../../assets/logo/mastodon-logo.svg";
import sizumeLogo from "../../assets/logo/sizume-logo.svg";
import zennLogo from "../../assets/logo/zenn-logo.svg";
---

<div class="social-links">
  <a
    href="https://github.com/mehm8128"
    class="social-link"
    target="_blank"
    rel="noreferrer"
  >
    <Image src={githubLogo} alt="GitHub" width={28} height={28} />
  </a>
  <a
    href="https://x.com/mehm8128"
    class="social-link"
    target="_blank"
    rel="noreferrer"
  >
    <Image src={xLogo} alt="X (旧Twitter)" width={28} height={28} />
  </a>
  <a
    href="https://bsky.app/profile/hm8128.me"
    class="social-link"
    target="_blank"
    rel="noreferrer"
  >
    <Image src={bskyLogo} alt="Bluesky" width={28} height={28} />
  </a>
  <a
    href="https://mastodon.social/@mehm8128"
    class="social-link"
    target="_blank"
    rel="noreferrer"
  >
    <Image src={mastodonLogo} alt="Mastodon" width={28} height={28} />
  </a>
  <a
    href="https://sizu.me/mehm8128"
    class="social-link"
    target="_blank"
    rel="noreferrer"
  >
    <Image src={sizumeLogo} alt="sizu.me" width={28} height={28} />
  </a>
  <a
    href="https://zenn.dev/mehm8128"
    class="social-link"
    target="_blank"
    rel="noreferrer"
  >
    <Image src={zennLogo} alt="Zenn" width={28} height={28} />
  </a>
  <a
    href="https://buymeacoffee.com/mehm8128"
    class="social-link"
    target="_blank"
    rel="noreferrer"
  >
    ☕
  </a>
</div>

<style>
  .social-links {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding: 1.5rem 0;
  }

  .social-link {
    text-decoration: none;
    transition: var(--transition-fast);
  }

  .social-link:hover,
  .social-link:focus {
    transform: translateY(-2px);
  }

  .social-link img {
    width: 28px;
    height: 28px;
    transition: var(--transition-fast);
  }

  .social-link:hover img,
  .social-link:focus img {
    opacity: 0.7;
  }

  @media (prefers-color-scheme: dark) {
    .social-link img {
      filter: brightness(0) invert(1);
    }

    .social-link:hover img,
    .social-link:focus img {
      filter: brightness(0) invert(1);
      opacity: 0.7;
    }
  }

  @container (width < 600px) {
    .social-links {
      gap: 1rem;
    }
  }
</style>
